{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Prueba</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <h2>Crear Prueba</h2>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Datos de la Prueba</legend>
            {{ prueba_form.as_p }}
        </fieldset>

        <fieldset>
            <legend>Datos del Examen</legend>
            {{ examen_form.as_p }}
        </fieldset>

        <button type="submit">Siguiente: Agregar preguntas</button>
    </form>
</body>
</html>
