{% extends 'base_form.html' %}

{% block title %}Registro Exitoso{% endblock %}
{% block body_class %}registro{% endblock %}
{% block form_container_class %}formulario-contenedor{% endblock %}

{% block heading %}
  Registro exitoso
{% endblock %}

{% block extra %}
  <p>Tu usuario es: <strong>{{ username }}</strong></p>
  <p>Tu contraseña es: <strong>{{ password }}</strong></p>
  <p>Por favor, guarda esta información para iniciar sesión.</p>

  <a href="{% url 'login' %}" class="btn btn-full">Ir a iniciar sesión</a>
{% endblock %}
